:root{
    --azul-fundo: #4169E1;
    --azul-fundoSecundario: #00008B;
    --branco-fonte: #FFFFFF;
    --cinza-borda: #C0C0C0;
    --amarelo-ativo: #FFFF00;
    --amarelo-destivado: #EEDD82;
    --vermelho-alerta: #8B0000;
    --azul-rodape: #000080;
    --preto-link: #000000;
    --preoto-link: #24292f;
    --azul-link: #0a66c2;
}

body{
    background-color: var(--azul-fundo);
    font-family: 'Montserrat', sans-serif;
    color: var(--branco-fonte);
}

.header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    padding: 16px;
}

.header__caixa--titulo{
    font-size: 30px;
}

.header__caixa--subtitulo{
    font-size: 1.0em;
    margin: 0.2rem;
    color: var(--amarelo-destivado);
    font-weight: 50px;
}

.header__button{
    margin-right: 0.5rem;
}

@media screen and (min-width:1440px){
    .header__button--desktop{
        display: none;
    }
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0px;
    padding: 5px;
    background-color: var(--amarelo-destivado);
    border-bottom: solid 3px var(--cinza-borda);
    border-top: solid 3px var(--cinza-borda);
    border-left: solid 3px var(--cinza-borda);
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    right: 100vh;
}

@media screen and (min-width:1440px) {
    .nav--desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: static;
        border-radius: 0px 0px 20px 20px;
        border-right: solid 3px var(--cinza-borda);
        border-top: 0;
        margin: auto;
        position: absolute;
        right: 0;
        left: 0;
        width: 1000px;
    }
}

.nav--ativo{
    position: absolute;
    right: 0;
}


.nav__link{
    margin: 1rem 0.5rem;
    font-size: 1.2em;
}

@media screen and (min-width:1440px) {
    .nav__link{
        margin: 0rem 0rem;
    }
}

.art{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.revela{
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}

.revela.ativo{
    transform:  translateY(0);
    opacity: 1;
}

.art-sobre{
    background-color: var(--azul-fundoSecundario);
}

.art__titulo{
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem;
    border-bottom: solid 1px var(--amarelo-ativo);
}

.art__informacao{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.informacao__texto{
    margin: 0.8rem;
    font-size: 16px;
}

.art-sobre__perfil{
    width: 330px;
    margin: 2rem auto 0rem auto;
    border: 2px solid var(--amarelo-ativo);
    border-radius: 10px;
    opacity: 40%;
    transition: 0.60s;
    box-shadow: 0 0 12.5px var(--branco-fonte);
}

.art-sobre__perfil:hover{
    background: transparent;
    box-shadow: 0 0 15px var(--amarelo-ativo);
    opacity: 100%;
    transition: 0.60s;
}

@media screen and (min-width:1440px) {
    .art__titulo{
        margin-top: 3rem;
    }

    .art__informacao{
        display: flex;
        width: 800px;
        float: inline-start;
        align-items: center;
        justify-content: center;
        margin: 150px 50px;
    }

    .informacao__texto{
        font-size: 2rem;
    }

    .art-sobre__perfil{
        display: flex;
        position: absolute;
        right: 200px;
        bottom: 300px;
        width: 350px;
    }
}

.art-formacao{
    background-color: var(--azul-fundo);
    height: 65vh;
}

.art-formacao__escola{
    margin: 3rem auto;
}

@media screen and (min-width:1440px) {
    .art-formacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .informacao__texto--desktop{
        margin: 2rem ;
    }

    .art-formacao__escola{
        width: 500px;
    }

}

.art-projetos{
    background-color: var(--azul-fundoSecundario);
    height: 65vh;
}

.art__informacao__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.informacao__bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--amarelo-destivado);
    padding: 25px;
    width: 200px;
    margin: 1rem;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    transition: 0.20s;
}

.informacao__bloco:hover{
    box-shadow: 0 0 15px var(--amarelo-ativo);
    font-size: 1.5rem;
    transition: 0.20s;
}

@media screen and (min-width:1440px) {
    .art-projetos{
        height: 100vh;
    }
    
    .art__informacao__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3rem auto;
    }

    .informacao__bloco{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 300px;
    }
}

.art-linguagens{
    background-color: var(--azul-fundo);
    height: 60vh;
}

.art-linguagens__informacao{
    margin: 2rem 1rem;
}

.linguagens-mostra{
    margin: 1.5rem auto;
    width: 250px;
    border: solid 1px var(--amarelo-destivado);
    background-color: var(--azul-fundoSecundario);
    padding: 28px;
}

.linguagens-mostra:hover{
    box-shadow: 0 0 15px var(--amarelo-ativo);
    padding: 38px;
}

.linguagens-mostra__linha{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linguagens-mostra__linha{
    font-size: 1.5rem;
    color: var(--branco-fonte);
}

@media screen and (min-width:1440px){
    .art-linguagens{
        height: 100vh;
    }

    .art-linguagens__informacao{
        margin: 3rem auto;
    }

    .linguagens-mostra{
        margin: 6rem auto;
        width: 600px;
        height: 400px;
    }
    
    .linguagens-mostra__linha{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 100px;
    }

    .linguagens-mostra__coluna{
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-rodape);
    padding: 16px;
    height: 30vh;
}

.rodape__titulo{
    margin: 1.5rem;
    font-size: 20px;
}

.rodape__contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 255px;
}

.linkedin{
    display: flex;
    justify-content: flex-start;
    border: solid 1px var(--azul-link);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--azul-link);
    margin: 11px;
}

.github{
    display: flex;
    justify-content: center;
    border: solid 1px var(--preto-link);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--preoto-link);
    margin: 10px;
}

